<%-include("template/cabecera", {tituloWeb:"Detalle del personaje"})%>

<div class="container">
    <h1>Detalles del personaje</h1>
    <% if (error) { %>
        <%=mensaje%>
        <a href="/starwars" class="btn btn-dark btn-block my-2">Volver</a>
    <% } %>
    <% if (!error) { %>
        <form id="editar" data-id="<%= starwars._id%>">
            <input type="number" value="<%= starwars.id%>" class="form-control my-2" name="id" id="idInput">
            <input type="text" value="<%=starwars.name%>" class="form-control my-2" name="name" id="nameInput">
            <input type="text" value="<%=starwars.surname%>" class="form-control my-2" name="surname" id="surnameInput">
            <input type="text" value="<%=starwars.affiliation%>" class="form-control my-2" name="affiliation" id="affiliationInput">
            <button class="btn btn-primary btn-sm" type="submit">Actualizar</button>
        </form>
        <hr>
        <button id="eliminar" class="btn btn-warning btn-sm" data-id="<%= starwars._id %>">Eliminar</button>

    <% } %>
</div>

<%-include("template/footer")%>

<script>
    const btnEliminar=document.getElementById('eliminar')
    btnEliminar.addEventListener('click', async () => {
        console.log(btnEliminar.dataset.id)
        try{
            const data=await fetch(`/starwars/${btnEliminar.dataset.id}`,{
                method:'delete'
            })
            const res= await data.json()
            console.log(res)
            if(res.estado){
                window.location.href='/starwars'
            }else{
                console.log(res)
            }
        }catch(error){
            console.log(error)
        }
    })
        
    const formEditar=document.getElementById('editar');
          formEditar.addEventListener('submit', async (e)=>{
            e.preventDefault()
            const id=formEditar.elements['id'].value
            const name=formEditar.elements['name'].value
            const surname=formEditar.elements['surname'].value
            const affiliation=formEditar.elements['affiliation'].value
            const _id=formEditar.dataset.id
            const data = await fetch(`/starwars/${_id}`,{
                method:'PUT',
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({id,name,surname,affiliation})
            })
            const res =await data.json()
            if(res.estado){
                window.location.href='/starwars'
            }else{
                console.log(res)
            }
          })
</script>