<%-include("template/cabecera", {tituloWeb:"Panel de Administración"})%>


<div class="container text-center ">
    <h1>Lista de personajes</h1>
    <a class="btn btn-success btn-block my-4" href="#crearModal" data-toggle="modal" data-target="#crearModal">Añadir personajes</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">IMG</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Afiliciación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayStarWars.length>0) { %>
             <% arrayStarWars.forEach(starwars => { %>
                <tr>
                    <th scope="row"><%=starwars.id%></th>
                    <td><img src="<%=starwars.img%>" alt="<%=starwars.name%>"></td>
                    <td><%=starwars.name%></td>
                    <td><%=starwars.surname%></td>
                    <td><%=starwars.affiliation%></td>
                    <td><a href="#editarModal<%=starwars._id%>" class="btn btn-warning btn-sm editar-btn" data-toggle="modal" data-target="#editarModal<%=starwars._id%>"><i class="fas fa-edit"></i></a>
                    <button id="eliminar" class="btn btn-danger btn-sm eliminar-btn" data-id="<%= starwars._id %>" onclick="confirmDelete('<%= starwars._id %>')"><i class="far fa-trash-alt"></i></button></td>
                </tr>
             <% }) %>
            <% } %>
        </tbody>
    </table>
</div>

<% if (arrayStarWars.length > 0) { %>
    <% arrayStarWars.forEach(starwars => { %>
        <div class="modal fade" id="editarModal<%=starwars._id%>" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModalLabel">Editar Personaje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editar" data-id="<%=starwars._id%>" enctype="multipart/form-data">
                            <input type="hidden" class="form-control my-2" name="id"  value="<%=starwars.id%>" id="id">
                            <input type="text" class="form-control my-2" name="name" value="<%=starwars.name%>" id="name">
                            <input type="text" class="form-control my-2" name="surname" value="<%=starwars.surname%>" id="surname">
                            <input type="text" class="form-control my-2" name="affiliation" value="<%=starwars.affiliation%>" id="affiliation">
                            <input type="file" name="image[]" accept="image/" class="form-control mb-2" multiple>
                            <button class="btn btn-primary btn-sm" type="submit" onclick="return confirm('¿Quieres guardar los cambios?')">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
<% } %>


<div class="modal fade" id="crearModal" tabindex="-1" role="dialog" aria-labelledby="crearModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearModalLabel">Crear Personaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/starwars" class="my-2" method="POST">
                    <input type="number" placeholder="Id" class="form-control my-2" name="id">
                    <input type="text" placeholder="Nombre" class="form-control my-2" name="name">
                    <input type="text" placeholder="Apellido" class="form-control my-2" name="surname">
                    <input type="text" placeholder="Afiliciación" class="form-control my-2" name="affiliation">
                    <button type="submit" class="btn btn-dark btn-block" onclick="return confirm('¿Quieres crear este personaje?')">
                        Agregar
                    </button>
                </form> 
            </div>
        </div>
    </div>
</div>


<%-include("template/footer")%>

<script>
document.addEventListener('DOMContentLoaded', () => {

    const eliminarButtons = document.querySelectorAll('.eliminar-btn');
    eliminarButtons.forEach(btnEliminar => {
        btnEliminar.addEventListener('click', async () => {
            const confirmResult = confirm('¿Seguro que quieres eliminar al personaje?');

            if (confirmResult) {
                try{
                    const data=await fetch(`/starwars/${btnEliminar.dataset.id}`,{
                        method:'delete'
                    })
                    const res= await data.json()
                    console.log(res)
                    if(res.estado){
                        window.location.href='/starwars'
                    }else{
                        console.log(res)
                    }
                }catch(error){
                    console.log(error)
                }
            }
        })
    })

    const formEditar=document.getElementById('editar');
          formEditar.addEventListener('submit', async (e)=>{
            e.preventDefault()
            const id=formEditar.elements['id'].value
            const name=formEditar.elements['name'].value
            const surname=formEditar.elements['surname'].value
            const affiliation=formEditar.elements['affiliation'].value
            const _id=formEditar.dataset.id
            console.log(id, name, surname, affiliation, _id);
            console.log("hola");
            const data = await fetch(`/starwars/${_id}`,{
                method:'PUT',
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({id,name,surname,affiliation})
            })
            const res =await data.json()
            if(res.estado){
                window.location.href='/starwars'
            }else{
                console.log(res)
            }
          })
});
</script>